@import "tailwindcss";

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}